/*________________*/
/*Định đạng thanh điều hướng trên cùng*/
header {
  height: 50px;
}
.header-nav {
  height: 40px;
  margin-top: 0;

  position: relative;
  text-align: center;
  font-family: "Cambria";

  background-color: black;
  border-bottom: 2px solid #333;
}

.header-nav a {
  padding: 8px;
  color: #c9aa71;
  font-size: 16px;
  margin: auto 10px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}

.header-nav a:hover {
  color: #c1aa71;
}

.header-nav .active, .header-nav .active:hover {
  color: white;
  border-bottom: 2px solid #c9aa71;
}

@media (max-width: 768px) {
  header {
    height: 200px;
  }
  .header-nav {
    height: 192px;
  }
  .header-nav a {
    display: block;
  }
}
